ENVIRONMENT=live

PORT=3000

LOCAL_MQTT_HOSTNAME=localhost
TASMOTA_MQTT_PORT=8883

DB_DIALECT=postgres
DB_HOSTNAME=localhost
DB_NAME=smart_home
DB_USERNAME=user
DB_PASSWORD=P4s5WorD123
DB_PORT=3306
DB_UPDATE_SUFFIX=myhost
USE_CACHE=0

LAT=51.4934
LNG=0
TZ=UTC

MEROSS_PASSWORD=p@S$w0Rd123
MEROSS_USERNAME=test@nomail.com
TUYA_PASSWORD=p@S$w0Rd123
TUYA_USERNAME=test@nomail.com
BIZ_TYPE=smart_life
COUNTRY_CODE=1
REGION=us

SHOW_DEBUG_LOGS=0
LOG_LITERAL_NEWLINES=0

ACCESS_TOKEN_SECRET=74455177162bbe40ba73874c2a211fcf6a39fcfebe7ed12cb081ceacdd2ba7ea6a7fbd5b575f0b3f5e7d8fc8eb2966d04721d2963de6c866245db78f7e0436f3
REFRESH_TOKEN_SECRET=0bebba91e87b1e40470e8c26aedf16359864df715d7c681b78d53e9b14e45e60ce5964d3cbb599becd04a1aa2b3d4897d63ca15d635b9bfc6960c5d1feb5544b
MIN_PASSWORD_LENGTH=12
AWAIT_INTERNET_CONNECTION=true
