ENVIRONMENT=live

PORT=3000
MEROSS_PORT=5000

DB_DIALECT=postgres
DB_HOSTNAME=localhost
DB_NAME=smart_home
DB_USERNAME=user
DB_PASSWORD=P4s5WorD123
DB_PORT=3306

LAT=51.4934
LNG=0
TZ=UTC

TUYA_PASSWORD=p@S$w0Rd123
TUYA_USERNAME=test@nomail.com
BIZ_TYPE=smart_life
COUNTRY_CODE=1
REGION=us
